manifest {
    name = "Testing: ticket-6758-null-params"
}

params {
    custom_config_version = 'a925ea6e389fd3fa28ae98b4cc264bceb32b6036'    
    custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
}

process.container = 'quay.io/nextflow/bash'
