manifest {
    name = "Rob Syme test template"
}

// Default outBase
params.outBase = 'results-from-config'

profiles {
    cloud {
        // Use a different output base for cloud profiles
        params.outBase = "outdir-from-cloud-profile"
    }
}

process {
    publishDir = { "${params.outBase}_${workflow.start.format(java.time.format.DateTimeFormatter.ofPattern("yyyyMMdd_HHmmss"))}" }
    container = 'quay.io/nextflow/bash'
}

plugins {
  id 'nf-schema@2.4.1'
}
