manifest {
    name = "Rob Syme test template"
}

process.container = 'quay.io/nextflow/bash'

params.outdir = 'results-from-config'

profiles {
    cloud {
        params.outdir = "s3://scidev-playground-eu-west-2/projects/robsyme/test-${new Date().format('yyyyMMdd_HHmmss')}"
    }
}

plugins {
  id 'nf-schema@2.4.1'
}
